body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p.title {
  font-family: 'Courier New',
      Courier, monospace;
  color: brown;
}

.btn {
  margin: 5 px;
}

/* Define custom variables for colors */
:root {
  --primary-color: #46494C;
  /* --secondary-color: #1985A1; */
  --secondary-color: #177e89;
  --tertiary-color: #46494C;
  --accent-color: #9381ff;
  --background-color: #dcdcddb0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins,sans-serif;
}

/* navbar */
.navbar1 {
  align-items: center;
}

.navigation {
  background-color: var(--primary-color);
  padding: 30px;
  padding-top: 20px;
  width: 100%;
}

.nav-item1 a {
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-inline: 20px;
  font-size: 20px;
  padding: 10px;
  text-decoration: "strong";
  font-family: 'Roboto'; 
}

.nav-item1 a:hover {
  color: black;
}

.hide {
  display: none;
}


/* subforum */
a {
  text-decoration: none;
  color: black;
}

.subforum-container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.subforum {
  margin-top: 20px;
  width: 70%;
 
}

.subforum-title {
  /* background-color: var(--secondary-color); */
  padding: 10px;
  border: 5px double var(--secondary-color);
  border-radius: 5px;
  margin: 4px;
  text-align: center;
  color: black;
  box-shadow: 0 0 3px gray;
}

.subforum-subtitle {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  margin: 4px;
  text-align: left;
  color: white;
}

.subforum-subtitle button{
  border: none;
  background-color: var(--secondary-color);
  padding: 10px;
  color: white;
}
.subforum-subtitle button:hover{
  color: var(--background-color);
  text-decoration: underline;
  text-shadow: 1px 1px black;
}

.subforum-description {
  margin-block: 0;
}

.subforum-description h1 {
  font-size: 25px;
}

.subforum-description p {
  font-size: 18px;
}

.subforum-description a:hover {
  text-decoration: underline;
}

.subforum-row {
  display: grid;
  grid-template-columns: 25% 75%;
}

.subforum-full-row {
  display: grid;
  grid-template-columns: 100%;
}

.subforum-column {
  padding: 10px;
  margin: 4px;
  border-radius: 5px;
  background-color: var(--background-color);
}

.date {
  text-decoration: "italic";
  color: gray;
}

.comment-title {
  color: var(--primary-color);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* feedback form */
#feedback-h1 {
  margin:80px auto 20px auto;
  text-align: center;

}

.feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.feedback-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  width: 50%;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 6px black;

}
#feedback-button{
  border: 2px ridge black;
}
#feedback-button:hover{
  box-shadow: 3px 3px 2px black;
  border-style: inset;
}

#comment-label {
  font-size: x-large;
  color: white;
  text-shadow: 1px 1px gray;
  text-transform: capitalize;
}

#comment {
  resize: none;
  margin-top: 10px;
  border-radius: 5px;
  width: 100%;
}

#feedback-button {
  padding: 5px 15px;
  float: right;
  margin-right: 25px;
  margin-top: 15px;
  font-size: 18px;
}

/* about page */

.about-h1 {
  margin: 100px;
}

p.title {
  font-family: 'Courier New',
      Courier, monospace;
  color: var(--secondary-color);
}


/* class ratings page */
#class-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#class-title {
  background-color: var(--primary-color);
  width: 40%;
  padding: 20px 40px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 10px gray;
}

.subforum-description a{
  text-decoration: none;
  color: black;
}

/* footer */
footer {
  background-color: var(--tertiary-color);
  color: white;
}
.footer-text {
  padding-left: 20px;
  padding-right: 20px;
}
.footer-images {
  padding-right: 10px;
}

/* Ratings */
.ratings-row {
  display: grid;
  grid-template-columns: 50% 50%;
}

.ratings-full-row {
  display: grid;
  grid-template-columns: 100%;
}

.ratings-column {
  margin: 5px;
}


/* for phones */
@media screen and (max-width: 480px) {
  .subforum-container {
      margin: 10px;
      padding: 10px;
  }

  .subforum-row {
      display: grid;
      grid-template-columns: 20% 80%;
  }

  .subforum {
      margin-top: 20px;
  }
}

/* for tablets */
@media screen and (min-width:481px) and (max-width: 1024px) {
  .subforum-container {
      margin: 15px;
      padding: 15px;
  }

  .subforum-row {
      display: grid;
      grid-template-columns: 25% 75%;
  }

  .subforum-description h1 {
      font-size: 30px;
  }


  .subforum-description {
      font-size: larger;
  }
}
